# Bloqueo directo de carpetas (sin comodines complejos al inicio)
.gradle/
.idea/
.git/
.vscode/

# En lugar de filtrar el interior de build, ignoramos las subcarpetas pesadas
# de forma explícita. Esto evita que Docker escanee miles de archivos .class
**/build/classes/
**/build/generated/
**/build/tmp/
**/build/resources/
**/build/reports/
**/build/test-results/

# Archivos sueltos
*.log
.DS_Store