# Directorios de compilación de Gradle
# Quitamos **/build/ porque necesitamos entrar ahí para los JARs
**/.gradle/

# Directorios de IDE
**/.idea/
**/.vscode/

# Dependencias del contenedor
**/target/
**/out/

# Logs y caché
**/logs/
*~

# Excluir archivos comprimidos
**/*.zip
**/*.tar

# --- REGLAS PARA LOS JARS ---
# Ignoramos todos los JARs por defecto...
**/*.jar
# ...PERO permitimos el Wrapper y los JARs compilados que necesitamos
!gradle/wrapper/gradle-wrapper.jar
!**/build/libs/*.jar