server:
  port: 9090

spring:
  application:
    name: supplier-service
  messages:
    basename: messages
    encoding: UTF-8
    fallback-to-system-locale: false
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

  # ✅ PostgreSQL para desarrollo local en Docker
  datasource:
    url: jdbc:postgresql://localhost:5432/supplier
    username: supplier
    password: supplier123
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: HikariPool-ProductService
      maximum-pool-size: 10                         # -> "Maximum pool size"
      minimum-idle: 2                               # Hikari no tiene "min pool size" como tal; usa minimumIdle
      auto-commit: false                            # -> "Autocommit mode"
      transaction-isolation: TRANSACTION_READ_COMMITTED  # -> "Isolation level"
      # Opcionales útiles:
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}

springdoc:
  api-docs:
    path: /v3/api-docs       # JSON
  swagger-ui:
    path: /swagger-ui.html   # UI
    display-request-duration: true

# Configuración de paginación
app:
  pagination:
    default-page: 0
    default-size: 10
    max-size: 100
    default-sort: createdAt
    default-direction: desc
  cors:
    allowed-origin: "*"

management:
  endpoints:
    web:
      exposure:
        include: "*"


logging:
  level:
    com.celotts.productservice: DEBUG
    com.netflix.eureka: WARN
    com.netflix.discovery: WARN
