spring:
  application:
    name: supplier-service
  config:
    activate:
      on-profile: docker
    # Esta línea le dice: "Busca todo lo demás en el servidor"
    import: "optional:configserver:http://config-service:7777"
  cloud:
    config:
      enabled: true