server:
  port: ${DISCOVERY_PORT:8761}

spring:
  application:
    name: discovery-service
  cloud: # <-- INICIO DEL BLOQUE DE CORRECCIÓN
    compatibility-verifier:
      enabled: false # <-- ¡Esta es la corrección crucial!

services:
  discovery-service:
    build:
      context: ../discovery-service
      dockerfile: infra/docker/Dockerfile

    container_name: discovery-service
    networks:
      - inventory-network

  config-service:
    networks:
      - inventory-network

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_EUREKA:http://localhost:8761/eureka/}
    register-with-eureka: false
    fetch-registry: false

  instance:
    hostname: discovery-service
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.boot.lineage:}${random.value}

management:
  endpoints:
    web:
      exposure:
        include: "*"
logging:
  level:
    com.netflix.discovery.shared.transport.jersey3.EurekaJersey3ClientImpl: ERROR