# Ignorar carpetas pesadas en cualquier profundidad
**/.gradle/
**/.idea/
**/.git/
**/.vscode/

# Ignorar las carpetas build pero permitir los JARs
**/build/
!**/build/libs/
!**/build/libs/*.jar

# Ignorar otros archivos innecesarios
*.iml
.DS_Store