spring:
  application:
    name: product-service

  # H2 Database para tests en memoria
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  # JPA/Hibernate
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

# Desactivar servicios externos
eureka:
  client:
    enabled: true
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_EUREKA:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.boot.lineage:}${random.value}


logging:
  level:
    org.springframework.web: DEBUG
    com.celotts.taxservice: INFO
    com.netflix.eureka: WARN
    com.netflix.discovery: WARN
    org.hibernate: DEBUG
    org.springframework.security: DEBUG
    root: INFO

app:
  product-type:
    service:
      enabled: true
    use-case:
      enabled: true


management:
  endpoints:
    web:
      exposure:
        include: "*" # Expones todo para debug local
  endpoint:
    health:
      show-details: always # Muestra qué base de datos o servicio externo falló
      probes:
        enabled: true