server:
  port: 9090

spring:
  application:
    name: product-service

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

  datasource:
    url: jdbc:postgresql://localhost:5432/product
    username: product
    password: product123
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: HikariPool-ProductService
      maximum-pool-size: 10
      minimum-idle: 2
      auto-commit: true
      transaction-isolation: TRANSACTION_READ_COMMITTED
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_EUREKA:http://discovery-service:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true

app:
  cors:
    allowed-origin: "*"
  pagination:
    default-page: ${PAGINATION_DEFAULT_PAGE:0}
    default-size: ${PAGINATION_DEFAULT_SIZE:10}
    max-size: ${PAGINATION_MAX_SIZE:100}
    default-sort: ${PAGINATION_DEFAULT_SORT_BY:createdAt}
    default-direction: ${PAGINATION_DEFAULT_SORT_DIR:desc}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always # Muestra qué base de datos o servicio externo falló
      probes:
        enabled: true

logging:
  level:
    org.springframework.web: DEBUG
    com.celotts.taxservice: INFO
    com.netflix.eureka: WARN
    com.netflix.discovery: WARN
    org.hibernate: DEBUG
    org.springframework.security: DEBUG
    root: INFO