spring:
  application:
    name: product-service

  # H2 Database para tests en memoria
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  # JPA/Hibernate
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

# Desactivar servicios externos
eureka:
  client:
    enabled: false

# Logging detallado
logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate: DEBUG
    com.celotts.productservice: DEBUG
    root: INFO

app:
  product-type:
    service:
      enabled: true
    use-case:
      enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*" # Expones todo para debug local
  endpoint:
    health:
      show-details: always # Muestra qué base de datos o servicio externo falló
      probes:
        enabled: true