# ✅ PERFIL PRODUCT para desarrollo standalone
spring:
  config:
    activate:
      on-profile: product
  application:
    name: product-service

  # ✅ PostgreSQL para desarrollo local
  datasource:
    url: jdbc:postgresql://localhost:5432/product
    username: product
    password: product123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 9090

eureka:
  client:
    enabled: true
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_EUREKA:http://discovery-service:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.boot.lineage:}${random.value}


# Configuración de paginación
app:
  pagination:
    default-page: 0
    default-size: 10
    max-size: 100
    default-sort: createdAt
    default-direction: desc
  cors:
    allowed-origin: "*"
management:
  endpoints:
    web:
      exposure:
        include: "*" # Expones todo para debug local
  endpoint:
    health:
      show-details: always # Muestra qué base de datos o servicio externo falló
      probes:
        enabled: true

logging:
  level:
    org.springframework.web: DEBUG
    com.celotts.taxservice: INFO
    com.netflix.eureka: WARN
    com.netflix.discovery: WARN
    org.hibernate: DEBUG
    org.springframework.security: DEBUG
    root: INFO