server:
  port: ${PORT9090:9096}

spring:
  application:
    name: tax-service

  config:
    import: "optional:configserver:"

  cloud:
    config:
      enabled: false

  datasource:
    #url: jdbc:postgresql://${PRODUCT_DB_HOST:product-db}:${PRODUCT_DB_PORT:5432}/${PRODUCT_DB_NAME:product_db}
    url: jdbc:postgresql://${TAX_DB_HOST:tax-db}:${TAX_DB_PORT:5432}/${TAX_DB_NAME:TAX}
    username: ${TAX_DB_USERNAME:tax}
    password: ${TAX_DB_PASSWORD:tax123}
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: ${MINIMUM_IDLE:5}
      maximum-pool-size: ${MAXIMUM_POOL_SIZE:10}
      auto-commit: ${AUTO_COMMIT:true}
      validation-timeout: ${VALIDATION_TIMEOUT:3000}
      #connection-test-query: ${CONNECTION_TEST_QUERY:"SELECT 1"}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

app:
  cors:
    allowed-origin: "*"
  pagination:
    default-page: ${PAGINATION_DEFAULT_PAGE:0}
    default-size: ${PAGINATION_DEFAULT_SIZE:10}
    max-size: ${PAGINATION_MAX_SIZE:100}
    default-sort: ${PAGINATION_DEFAULT_SORT_BY:createdAt}
    default-direction: ${PAGINATION_DEFAULT_SORT_DIR:desc}



eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_EUREKA:http://discovery-service:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: "*"