server:
  port: 9090

spring:
  application:
    name: product-service

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration

  datasource:
    url: jdbc:postgresql://localhost:5432/product
    username: product
    password: product123
    driver-class-name: org.postgresql.Driver

    hikari:
      pool-name: HikariPool-ProductService
      maximum-pool-size: 10
      minimum-idle: 2
      auto-commit: true
      transaction-isolation: TRANSACTION_READ_COMMITTED
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true

app:
  pagination:
    default-page: 0
    default-size: 10
    max-size: 100
    default-sort: createdAt
    default-direction: desc
  cors:
    allowed-origin: "*"

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    com.celotts.productservice: DEBUG
    com.netflix.eureka: WARN
    com.netflix.discovery: WARN