server:
  port: ${PORT9090:9090}

spring:
  application:
    name: product-service

  config:
    import: "optional:configserver:"
    activate:
      on-profile: docker

  cloud:
    config:
      enabled: false

  datasource:
    url: jdbc:postgresql://${PRODUCT_DB_HOST:product-db}:${PRODUCT_DB_PORT:5432}/${PRODUCT_DB_NAME:product}
    username: ${PRODUCT_DB_USERNAME:product}
    password: ${PRODUCT_DB_PASSWORD:product123}
    driver-class-name: org.postgresql.Driver
    hikari:
      minimum-idle: ${MINIMUM_IDLE:5}
      maximum-pool-size: ${MAXIMUM_POOL_SIZE:10}
      auto-commit: ${AUTO_COMMIT:true}
      validation-timeout: ${VALIDATION_TIMEOUT:3000}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

app:
  cors:
    allowed-origin: "*"
  pagination:
    default-page: ${PAGINATION_DEFAULT_PAGE:0}
    default-size: ${PAGINATION_DEFAULT_SIZE:10}
    max-size: ${PAGINATION_MAX_SIZE:100}
    default-sort: ${PAGINATION_DEFAULT_SORT_BY:createdAt}
    default-direction: ${PAGINATION_DEFAULT_SORT_DIR:desc}



eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_EUREKA:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.boot.lineage:}${random.value}

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    org.springframework.web: DEBUG
    com.celotts.purchaseservice: INFO
    com.netflix.eureka: WARN
    com.netflix.discovery: WARN
    org.hibernate: DEBUG
    org.springframework.security: DEBUG
    root: INFO