
server:
  port: ${CONFIG_PORT:7777}

spring:
  application:
    name: config-service # Lowercase name is better practice for naming conventions

  lifecycle:
    timeout-per-shutdown-phase: 15s # Recommended for microservices shutdown resilience

  cloud:
    config: # Configuration required for Spring Cloud Config Server
      server:
        git:
          uri: ${SPRING_CLOUD_CONFIG_SERVER_GIT_URI}
          username: ${GIT_USERNAME}
          password: ${GIT_TOKEN}
          timeout: 10
          default-label: main
          search-paths: config
      fail-fast: false
    compatibility-verifier:
      enabled: false

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE:http://discovery-service:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
    healthcheck:
      enabled: true
    instance-info-replication-interval-seconds: 5 # Reduce replication interval for faster registration
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.boot.lineage:}${random.value}
management:
  endpoints:
    web:
      exposure:
        include: "*"