server:
  port: ${CONFIG_PORT:7777}

spring:
  application:
    name: config-service

  cloud:
    compatibility-verifier:
      enabled: false
    config:
      server: # <--- ¡CORRECCIÓN CLAVE! Añadir 'server' aquí.
        git:
          uri: ${SPRING_CLOUD_CONFIG_SERVER_GIT_URI}
          username: ${GIT_USERNAME}
          password: ${GIT_TOKEN}
          timeout: 10
          default-label: main
          search-paths: config
      fail-fast: true

eureka:
  client:
    enabled: ${EUREKA_CLIENT_ENABLED:true}
    register-with-eureka: true
    fetch-registry: false
    service-url:
      defaultZone: http://discovery-service:8761/eureka/

  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.cloud.client.ip-address}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: "*"