# --- CONFIGURACIÓN LOCAL (application-local.yml) ---

server:
  port: ${CONFIG_PORT:7777}
  error:
    include-message: always



spring:
  application:
    name: config-service

  cloud:
    compatibility-verifier:
      enabled: false
    config:
      server: # Configura esta aplicación como un Config Server
        git:
          uri: ${SPRING_CLOUD_CONFIG_SERVER_GIT_URI}
          username: ${GIT_USERNAME}
          password: ${GIT_TOKEN}
          timeout: 10
          default-label: main
          search-paths: config
      fail-fast: true

# EUREKA debe estar en la columna 0, al mismo nivel que 'spring'
eureka:
  client:
    enabled: ${EUREKA_CLIENT_ENABLED:true}
    register-with-eureka: true
    fetch-registry: true
    service-url:
      # CAMBIO: discovery-service en lugar de localhost
      defaultZone: ${DISCOVERY_SERVICE_EUREKA:http://discovery-service:8761/eureka/}

  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}

management:
  endpoints:
    web:
      exposure:
        include: "*"